<section class="header-inner bg-dark text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">

        <h2 class="inner-banner-title">Animals</h2>
      </div>
    </div>
  </div>
</section>


<div class="page-container">
  <div class="filter-container">
    <div class="form-group">
      <label for="breedFilter">Filter by Breed:</label>
      <input type="text" id="breedFilter" [(ngModel)]="breedFilter" class="form-control" placeholder="Enter breed" (input)="applyFilters()" />
    </div>



    <div class="form-group">
      <label>Age Range:</label>
      <div class="slider-container">
        <label>Min Age:</label>
        <input type="range" [(ngModel)]="minAgeFilter" min="0" max="20" (input)="onMinAgeChange()" class="slider" />
        <label>Max Age:</label>
        <input type="range" [(ngModel)]="maxAgeFilter" min="0" max="20" (input)="onMaxAgeChange()" class="slider" />
      </div>
      <div class="slider-values">
        <span>{{ minAgeFilter }} years</span> - <span>{{ maxAgeFilter }} years</span>
      </div>
    </div>

    <button class="btn btn-primary" (click)="applyFilters()">Apply Filters</button>
  </div>



    <div class="animal-container">
      <div *ngFor="let animal of filteredAnimals" class="animal-card">
        <div class="card">
          <img src="https://localhost:7208{{animal.imageUrl}}" alt="{{animal.name}} Image" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ animal.name }}</h5>
            <h6 class="card-subtitle mb-2 ">Breed:{{ animal.breed }} - Age: {{ animal.age }}</h6>
            <p class="card-text">
              <strong>Size:</strong> {{ animal.size }}<br>
              <strong>Temperament:</strong> {{ animal.temperament }}<br>
              <strong>Special Needs:</strong> {{ animal.specialNeeds }}<br>
              <strong>Adoption Status:</strong> {{ animal.adoptionStatus }}<br>

            </p>
            <div class="card-actions">
              <a class="btn btn-primary"[routerLink]="['/adoptionForm', animal.animalId]">Adopt Me</a>
              <a class="btn btn-secondary" [routerLink]="['/animalDetails', animal.animalId]">More Info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
