<!-- Header Section with Pet Background -->

<section class="header-inner bg-dark text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">

        <h2 class="inner-banner-title">Share Your  Pet Story</h2>
      </div>
    </div>
  </div>
</section>


<section class="space-ptb login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-10">
     
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
            <form #addNewPost="ngForm" (ngSubmit)="addPost(addNewPost.value)" class="row mt-4 mb-5 align-items-center">
              <div class="mb-3 col-sm-12">
                <label class="form-label">Title:</label>
                <input name="title" type="text" class="form-control" placeholder="Enter the title of your story" ngModel>
              </div>
              <div class="mb-3 col-sm-12">
                <label class="form-label">Description:</label>
                <textarea class="form-control" name="content" rows="5" placeholder="Describe your pet's success story" ngModel></textarea>
              </div>
              <div class="mb-3 col-sm-12">
                <label class="form-label">Image:</label>
                <input (change)="changeImage($event)" name="image" type="file" class="form-control" placeholder="" ngModel>
              </div>
              <div class="col-sm-6">
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Submit Story</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
